<p id="notice"><%= notice %></p>

<h1 class="page-header text-center">Users</h1>

<p><%= link_to 'Create new user', new_user_path, class: "btn btn-sm btn-default pull-right" %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Student ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.student_id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td class="text-center">
          <%= link_to 'Show', user, class: "btn btn-xs btn-info" %>
          <%= link_to 'Edit', edit_user_path(user), class: "btn btn-xs btn-warning" %>
          <%= link_to 'Destroy', user, method: :delete, class: "btn btn-xs btn-danger", data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
